.projectcarousel div #wrapper
{
	float: left;
	display: block;
	position: relative;
	/*border: 5px solid #EEEEEE;*/
	height: 185px;
	width: 170px;
	margin: 5px;
	/*background-color: #FFFFFF;*/
	border-radius: 25px;
}

.column
{
	width: 170px;
	height: 500px;
}

.hoverimg
{
	border-radius: 25px;
	border: 5px solid #EEEEEE;
	height: 170px;
	width: 170px;
	margin: 5px;
	background-color: #FFFFFF;
}

#wrapper .text {
position:relative;
bottom:145px;
text-align: center;
left:7px;
visibility:hidden;
margin-left:1px;
margin-right: 0px;

color: #FFFFFF;
text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#wrapper:hover .text {
visibility:visible;
}

html,
body {
	font-family: arial;
	font-size: 18px;
}
